---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Sobre mí">
  {
    summary.map( parrafo => {
      
      if (parrafo == "\n") {
      return (<br/>)

    } else {
      return (<p>{parrafo}</p>)

    }})
  }
  
</Section>

<style>
  p {
  margin-top: 20px;
  }

  
</style>